*{
  margin: 0;;
}

header{
  background-color: #4EA0FF;
  background-image:url("../img/pattern.png");
  background-size: 400px;
  background-position:top;
  height: 100px;
}

header h1{
  padding: 20px;
  font-size: 50px;
  padding-left: 0;
  padding-bottom: 5px;
  text-align: justify;
  text-justify: inter-word;
}

main{
  margin-top: 650px;
}

.logo{
  width: 200px;
  text-align: left;
  padding-top: 50px;
  ;
}

.sottotitolo{
  color: #7d7d7d;

}

.img-bernes-lee{
  padding-top: 30px;
}

.descrizione-foto{
  font-size: 10px;
}


section{
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 550;

}

section.second, .third{
  margin-top: 30px;
}

table{
  border-spacing: 0px;
  width: 100%;

}

th{
  width: 20px;
  color: white;
}


thead{
  background-color: #20a9e5;
}

tfoot{
  background-color: #b1e5f2;
}

#first-row{
  background-color: #b1e5f2;
}
#autore{
  color: #34b0e7;
  
}

#testo-evidenziato{
  background-color: yellow;
}