/* GENERAL */
*{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

.hightlight{
  background-color: rgb(238, 238, 107);
}



/* HEADER */
header{
  background-color: #4EA0FF;
  background-image: url('../img/pattern.png');
  background-size: 30%;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 5px;
}

header .logo{
  width: 200px;
}

/* MAIN */
main, footer{
  padding: 20px;
}

main .dida{
  font-size: .9rem;
  color: #7F8080;
  margin-bottom: 10px;
}

main .dida p{
  padding-bottom: 5px;
}

main .dida .name{
  color: #4EA0FF;
}

main .dida .date{
  font-size: .8rem;
}

main .photo .caption{
  font-size: .8rem;
}

main .main-text{
  padding-top: 20px;
  padding-bottom: 20px;
}

main ul{
  padding-left: 15px;
  margin-bottom: 20px;
}

main table{
  text-align: left;
  border-collapse: collapse;
}

main table thead{
  background-color: #23A9E5;
  color: white;
}


main table .text{
  width: 50%;
}
main table .odd{
  background-color: #B1E5F2;
}



/* FOOTER */

footer h4{
  color: grey;
}

footer .image-box{
  background-color: red;
  color: white;
  padding: 20px;
  width: 250px;
  height: 150px;
  margin-bottom: 20px;
}

#monitor{
  background-image: url('../img/monitor.jpg');
}

#graph{
  background-image: url('../img/graph.jpg');
}