
body{
  text-align: center;
}

.titolo{
  text-align: left;
  margin-left: 10%;
}

.first,.second,.third,.fourth,.foto-footer{
  width: 80%;
  text-align: left;
  margin-left:10%;
}

.sottotitolo{
text-align: left;
margin-left: 10%;
}